<div id="login_box">
<%if current_user%>
  <div class="tekst">
  Zalogowany:  <%=current_user.nazwisko%>, <%=current_user.email%>
  <%=link_to t(:logout), wyloguj_path(:url_for=>url_for())%>
  </div>
<%else%>
  <%=render 'sessions/login_form'%>
  
<%end%>
</div>