<article class="wizytowka_mala">
  <header class="left">

  </header>
  <section class="left">
    <div class="nazwisko">
      <%= link_to "#{grupa_mala.nazwa}",grupa_mala %>
    </div>
  </section>
  <div class="clear"></div>
</article>