<%
    stat_liczba_miejsc = @miejsca.count
    stat_liczba_terminow  = Termin.where(:miejsce_id=>@miejsca.map{|m| m.id}).count
%>
<h4><b>Miejsc celebracji: </b><%=stat_liczba_miejsc%> (<%=stat_liczba_terminow%> terminów)</h4>
</br>
</br>
