<article class="wizytowka_mala">
  <header class="left">
    <div class="foto">
      <%= image_tag wizytowka_mala.avatar.url(:thumb) %>
    </div>
  </header>
  <section class="left">
    <div class="nazwisko">
      <%= link_to "#{wizytowka_mala.nazwisko}",wizytowka_mala %>
    </div>
  </section>
  <div class="clear"></div>
</article>
