ul>
  <li><a href="#home" class="active">Witamy<br /><span>na CC-Net.pl </span></a></li>
  <li><a href="#portfolio">Portfolio<br /><span>Zrealizowane projekty</span></a></li>
  <li><a href="#oferta">Oferta<br /><span>Nasze produkty</span></a></li>
  <li><a href="#kontakt">Kontakt<br /><span>Napisz do nas</span></a></li>
</ul>